$primary-color: #282c34;
$primary-color-medium: #2c313a;
$primary-color-light: #323842;
$primary-color-lighter: #3a424c;

$primary-color-dark: #212329;

$secondary-color: #ebb215;

$tertiary-color: #ce0404;

$white-color: #f7f7f7;
$black-color: #000;