.blog-post-tag {
  background-color: $secondary-color;
  display: inline-block;
  padding-top: 9px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  color: $primary-color-dark-3;
  font-size: 0.9rem;
  font-weight: 500;
  margin-right: 10px;
  margin-bottom: 10px;
  letter-spacing: 0.01em;
  min-width: 60px;
  width: fit-content;
  height: 30px;
  font-family: Source_Sans_3_Regular;
  text-align: center;
}