.button-dark-small {
    background-color: $primary-color-dark;
    color: $white-color;
    padding: 5px 10px;
    border-radius: 5px;
    //border: 1px solid $white-color;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
    font-size: small;
    letter-spacing: 0.33em;
    text-transform: uppercase;
    display: inline-block;
    min-width: 200px;
    font-family: Source_Sans_3_Regular;
    font-weight: 900;

    &.active {
        transition: 0.3s;
        background-color: $primary-color-lighter;
        color: $secondary-color;
    }

    &:hover {
        transition: 0.3s;
        background-color: $secondary-color;
        color: $black-color;
    }
}