.button-dark-small {
    background-color: $primary-color-dark-1;
    color: $white-color;
    padding: 8px 5px 5px 5px;
    border-radius: 5px;
    //border: 1px solid $white-color;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
    font-size: small;
    letter-spacing: 0.33em;
    text-transform: uppercase;
    display: inline-block;
    min-width: 200px;
    font-family: Source_Sans_3_Regular;
    font-weight: 900;
    border: none;

    &.active,
    &:active {
        transition: 0.3s;
        background-color: $primary-color-light-1;
        color: $secondary-color;
    }

    &:hover {
        transition: 0.3s;
        background-color: $secondary-color;
        color: $black-color;
    }

    &:disabled {
        transition: 0.3s;
        opacity: 0.5;
        background-color: $primary-color-dark-2;
        cursor: not-allowed;
    }
}

/*
.button-dark-small.active {
    transition: 0.3s;
    background-color: $primary-color-light-2;
    color: $secondary-color;
}*/

.button-dark-very-small {
    background-color: $primary-color-dark-3;
    color: $white-color;
    padding: 5px;
    padding-top: 8px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: small;
    text-transform: uppercase;
    width: 70px;
    height: 30px;
    font-family: Source_Sans_3_Regular;
    font-weight: 900;
    border: none;
    //margin-top: 10px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;

    &:active {
        transition: 0.3s;
        background-color: $primary-color-light-1;
        color: $secondary-color;
    }

    &:hover {
        transition: 0.3s;
        background-color: $secondary-color;
        color: $black-color;
    }

    &:disabled {
        transition: 0.3s;
        opacity: 0.5;
        background-color: $primary-color-dark-2;
        cursor: not-allowed;
    }
}

.button-as-link {
    padding: 0;
    margin: 0;
}

.checkbox-dark {
    background-color: $primary-color-dark-1;
    color: $white-color;
    //cursor: pointer;
    text-decoration: none;
    font-size: medium;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 20px;
    width: 100%;
    //letter-spacing: 0.33em;
    //text-transform: uppercase;
    display: inline-block;
    text-align: left;
    display: flex;
    align-items: end;
    padding: 10px;
    padding-bottom: 15px;
    padding-left: 40px; /* Augmente le padding à gauche pour laisser de la place à la case */
    position: relative;
    
    & .form-check-input {
        
        background-color: $primary-color-dark-1; /* Couleur de fond normale */
        border: 2px solid $white-color;    /* Bordure blanche */
        width: 20px;
        height: 20px;
        border-radius: 4px;
        margin-right: 10px;
    }

    & .form-check-input:checked {
        background-color: $secondary-color-dark-3; /* Couleur de fond lorsqu'elle est cochée */
        border-color: $secondary-color; /* Couleur de la bordure lorsqu'elle est cochée */
    }

    & :focus {
        box-shadow: 0 0 3px 0.2rem $secondary-color-25;
        outline: none;
    }
}