.custom-hr {
    border: 0;
    height: 1px;
    color: $primary-color-light-3;
    background-color: $primary-color-light-3;
    margin: 10px 0;
    //background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}