.text-small-primary {
    color: $primary-color;
    font-size: small;
}

.text-small-secondary {
    color: $secondary-color;
    font-size: small;
}

.text-small-white {
    color: $white-color;
    font-size: small;
}

.text-medium-primary {
    color: $primary-color;
    font-size: medium;
}

.text-medium-secondary {
    color: $secondary-color;
    font-size: medium;
}

.text-medium-white {
    color: $white-color;
    font-size: medium;
}

.text-large-primary {
    color: $primary-color;
    font-size: large;
}

.text-large-secondary {
    color: $secondary-color;
    font-size: large;
}

.text-large-white {
    color: $white-color;
    font-size: large;
}

.text-xlarge-primary {
    color: $primary-color;
    font-size: x-large;
}

.text-xlarge-secondary {
    color: $secondary-color;
    font-size: x-large;
}

.text-xlarge-white {
    color: $white-color;
    font-size: x-large;
}