.App-main {
    background-color: $black-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    
    font-size: calc(10px + 2vmin);
    color: $white-color;

    h1,h2,h3,h4,h5,h6 {
        color: $secondary-color;
    }

    .app-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}