.modal-dark {
    background-color: $primary-color-dark-2 !important;
    color: $white-color !important;
    

    .modal-dark-header {
        background-color: $primary-color-dark-2 !important;
        border: none !important;
        border: 1px solid $primary-color-light-1 !important;

        .modal-dark-header-title {
            color: $white-color !important;
            font-family: Source_Sans_3_Regular !important;
            font-weight: 900 !important;
            letter-spacing: 0.06em !important;
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
        }
    }

    .modal-dark-body {
        background-color: $primary-color-dark-2 !important;
        color: $white-color !important;
        padding: 20px !important;
        border: 1px solid $primary-color-light-1 !important;

        .modal-dark-body-text {
            color: $white-color !important;
            //font-family: Source_Sans_3_Regular !important;
            font-weight: 400 !important;
            line-height: 1.5 !important;
        }
    }

    .modal-dark-footer {
        background-color: $primary-color-dark-2 !important;
        color: $white-color !important;
        border: 1px solid $primary-color-light-1 !important;
    }
}