.image-contact {
    width: 260px;
    height: auto;
}

.contact-form-container {
    width: 100vw;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    //background-color: #f2f2f2;

    .contact-form-field {
        background-color: $primary-color-dark-1 !important;
        color: $white-color;
        border: none;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        width: 100%;

        &::placeholder {
            color: $primary-color-light-2;
        }

        &:focus {
            outline: none;
            box-shadow: 0 0px 12px $secondary-color-dark-3;
        }

        .isValid {
            background-color: $primary-color-dark-2;
        }
    }

    /* Cible les champs de type text, email, tel, etc., de votre formulaire */
    .contact-form-field:not(:placeholder-shown) {
    background-color: $primary-color-dark-1; /* Mettez la couleur de votre choix, ici un bleu très clair */
    //border-color: #a0c4ff;
    }

/* Cible également le textarea */
    .contact-form-field.form-control:not(:placeholder-shown) {
    background-color: $primary-color-dark-1; /* Mettez la couleur de votre choix */
    //border-color: #a0c4ff;
    }
}

