.image-home {
    width: 260px;
    height: auto;
}

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-grow: 1;
  min-height: 0;
  gap: 10px;
  //overflow-y: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 0px;
  width: 100%;
  //scrollbar-width: auto;
  //scrollbar-color: $primary-color-dark-1 $primary-color-dark-2;
}

.blog-post-container {
  background: $primary-color-dark-2;
  border-radius: 10px;
  //box-shadow: 0 4px 24px 0 rgba($primary-color, 0.08);
  padding: 2rem 2rem;
  margin-bottom: 2.5rem;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  max-width: 1200px;
  //border: 1px solid $primary-color-dark-1;
  //transition: box-shadow 0.2s;

  /*
  &:hover {
    box-shadow: 0 0px 16px 0 rgba($primary-color-light-3, 0.33);
  }
  */
}

.blog-post-title {
  color: $white-color;
  font-size: 2.1rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
  letter-spacing: 0.01em;
}

.blog-post-intro {
  color: $white-color;
  font-size: 1.5rem;
  margin-bottom: 20px;
  line-height: 2rem;
  font-weight: 700;
  font-style: italic;
  text-align: start;
  
}

.blog-post-image {
  display: block;
  width: 100%;
  max-height: 1600px;
  object-fit: cover;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 20px;
  //box-shadow: 0 2px 12px 0 rgba($primary-color, 0.07);
}

.blog-post-text {
  color: $white-color;
  font-size: 1rem;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: start;
}

.blog-post-date {
  color: $secondary-color-dark-2;
  font-size: 0.98rem;
  //margin-bottom: 10px;
  font-weight: 500;
  //font-family: 'Fira Mono', 'Consolas', monospace;
  letter-spacing: 0.02em;
}

.blog-post-author {
  color: $secondary-color;
  font-size: 1.05rem;
  font-weight: 500;
  margin-top: 1.2rem;
  letter-spacing: 0.01em;
  text-align: start;
  margin-bottom: 0px;
  font-style: italic;
}

.blog-post-tags-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 10px;
}

.blog-post-tag {
  background-color: $secondary-color;
  padding: 10px 10px;
  border-radius: 15px;
  color: $primary-color-dark-3;
  font-size: 0.9rem;
  font-weight: 500;
  margin-right: 10px;
  margin-bottom: 10px;
  letter-spacing: 0.01em;
  min-width: 60px;
  width: fit-content;
  height: 30px;
  font-family: Source_Sans_3_Regular;
}
